$theme-border: rgb(203, 207, 214);
$theme-shadow: rgba(0, 0, 0, 0.2);

$bg-primary: rgb(242, 242, 247);
$bg-hover: rgba(0, 0, 0, 0.1);

$func-error: rgba(240,124,124,1);
$func-complete: rgba(86,189,84,1);

$typography-primary: rgb(0, 0, 0);
$typography-secondary: rgb(142, 142, 147);

$media-m: 768px;
$media-s: 520px;
